.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  background: green;
  color: black;
  font: inherit;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.button:hover {
  background: lightGreen;
  color: black;
}
